@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body{
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: green;
  transition: all 1s ease;
  font-family: 'Gloria Hallelujah', cursive;
}
.landing .img1{
  position: absolute;
  border-radius: 30%;
  width: 300px;
  height: 300px;
  top: 10px;
  left: 10px;
}
.landing .img2{
  position: absolute;
  border-radius: 30%;
  width: 300px;
  height: 300px;
  top: 10px;
  right: 10px;
}
.landing .img3{
  position: absolute;
  border-radius: 30%;
  width: 300px;
  height: 300px;
  bottom: 10px;
  left: 10px;
}
.landing .img4{
  position: absolute;
  border-radius: 30%;
  width: 300px;
  height: 300px;
  bottom: 10px;
  right: 10px;
}
.icon-svg svg {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.landing .disclaimer{
  background:red;
  padding: 50px;
}
.landing .highlight{
  font-size: 8px;
  font-weight: 900;
  padding-top: 40px;
}

.jquery {
  font-weight: 900;
  position: absolute;
  font-size: 24px;
  z-index: 10;
}

.vibrate-1 {
	animation: vibrate-1 0.3s linear infinite both;
}
 @keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-8px, 8px);
  }
  40% {
    transform: translate(-8px, -8px);
  }
  60% {
    transform: translate(8px, 8px);
  }
  80% {
    transform: translate(8px, -8px);
  }
  100% {
    transform: translate(0);
  }
}


.blink-1 {
	animation: blink-1 0.8s infinite both;
}
 @keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}


.main{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./images/fond.gif");
  transition: all 1s ease;
  opacity: 1;
}

.main #douze {
  position: absolute;
  left: 0;
  top: 0;
}

.main #flying {
  background-color: greenyellow;
  color: purple;
  border: none;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
  padding: 0.5em;
  transition-duration: 1,5s;
}

.main #video-max {
  position: absolute;
  right: 0;
  bottom: 0;
}

.main #showLove {
  display: none;
  opacity: 0;
  transition: all 2s ease;
  background: none;
  border: none;
  width: 50px;
  cursor: pointer;
}

.main #showLove svg {
  fill: red;
}

div.a {
   background-color:red;
  position:absolute;
      
  }
  
  div.b {
   background-color:salmon;
  position:absolute;
      
  }
  div.c {
   background-color:green;
  position:absolute;
      
  }
  div.d {
   background-color:yellow;
  position:absolute;
      
  }
<<<<<<< HEAD
=======

  h1{
    font-family: 'Sigmar One', cursive;
  }
>>>>>>> 06002d5cbcc3856df1fb75da87c95e52dfa2df94
